h1 {
    color: #44baf0;    
}

/* class (優先級3)*/
.test {
    color: rebeccapurple;
}
/*優先級2*/
#andy {
    color: goldenrod;
}
/* 優先級1 */
.apple {
    color: brown !important;
}

h4{
    color: blueviolet;
}

span{
    font-size: 1.5em;color: red;
}